In [2]:
import pandas as pd

In [3]:
dataset_path = pd.read_csv("/home/moeenuddin/Desktop/all_projects_ML/Wind_Solar_Energy_Production/data/processed/processed_energy_dataset.csv")

In [4]:
df=dataset_path

In [5]:
df.head()

,Start_Hour,End_Hour,Day_of_Year,Production,Source_Solar,Source_Wind,Day_Name_Friday,Day_Name_Monday,Day_Name_Saturday,Day_Name_Sunday,...,Month_Name_June,Month_Name_March,Month_Name_May,Month_Name_November,Month_Name_October,Month_Name_September,Season_Fall,Season_Spring,Season_Summer,Season_Winter
0,20,21,100,5375,0,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,3,4,285,4634,0,1,0,0,0,0,...,0,0,0,0,1,0,1,0,0,0
2,12,13,196,4580,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,11,12,231,6990,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
4,19,20,205,4294,0,1,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18756 entries, 0 to 18755
Data columns (total 29 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Start_Hour            18756 non-null  int64
 1   End_Hour              18756 non-null  int64
 2   Day_of_Year           18756 non-null  int64
 3   Production            18756 non-null  int64
 4   Source_Solar          18756 non-null  int64
 5   Source_Wind           18756 non-null  int64
 6   Day_Name_Friday       18756 non-null  int64
 7   Day_Name_Monday       18756 non-null  int64
 8   Day_Name_Saturday     18756 non-null  int64
 9   Day_Name_Sunday       18756 non-null  int64
 10  Day_Name_Thursday     18756 non-null  int64
 11  Day_Name_Tuesday      18756 non-null  int64
 12  Day_Name_Wednesday    18756 non-null  int64
 13  Month_Name_April      18756 non-null  int64
 14  Month_Name_August     18756 non-null  int64
 15  Month_Name_December   18756 non-null  int64
 16  Month_Name_February   18756 non-null  int64
 17  Month_Name_January    18756 non-null  int64
 18  Month_Name_July       18756 non-null  int64
 19  Month_Name_June       18756 non-null  int64
 20  Month_Name_March      18756 non-null  int64
 21  Month_Name_May        18756 non-null  int64
 22  Month_Name_November   18756 non-null  int64
 23  Month_Name_October    18756 non-null  int64
 24  Month_Name_September  18756 non-null  int64
 25  Season_Fall           18756 non-null  int64
 26  Season_Spring         18756 non-null  int64
 27  Season_Summer         18756 non-null  int64
 28  Season_Winter         18756 non-null  int64
dtypes: int64(29)
memory usage: 4.1 MB

In [7]:
df.columns

Index(['Start_Hour', 'End_Hour', 'Day_of_Year', 'Production', 'Source_Solar',
       'Source_Wind', 'Day_Name_Friday', 'Day_Name_Monday',
       'Day_Name_Saturday', 'Day_Name_Sunday', 'Day_Name_Thursday',
       'Day_Name_Tuesday', 'Day_Name_Wednesday', 'Month_Name_April',
       'Month_Name_August', 'Month_Name_December', 'Month_Name_February',
       'Month_Name_January', 'Month_Name_July', 'Month_Name_June',
       'Month_Name_March', 'Month_Name_May', 'Month_Name_November',
       'Month_Name_October', 'Month_Name_September', 'Season_Fall',
       'Season_Spring', 'Season_Summer', 'Season_Winter'],
      dtype='object')