In [1]:
import pandas as pd

In [2]:
dataset_path = pd.read_csv("/home/moeenuddin/Desktop/all_projects_ML/Wind_Solar_Energy_Production/data/processed/processed_energy_dataset.csv")

In [3]:
df=dataset_path

In [4]:
df.head()

,Start_Hour,End_Hour,Day_of_Year,Production,Source_Solar,Source_Wind,Day_Name_Friday,Day_Name_Monday,Day_Name_Saturday,Day_Name_Sunday,...,Month_Name_June,Month_Name_March,Month_Name_May,Month_Name_November,Month_Name_October,Month_Name_September,Season_Fall,Season_Spring,Season_Summer,Season_Winter
0,20,21,100,5375,0,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,3,4,285,4634,0,1,0,0,0,0,...,0,0,0,0,1,0,1,0,0,0
2,12,13,196,4580,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,11,12,231,6990,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
4,19,20,205,4294,0,1,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0